@{
    ViewBag.Title = "Home Page";
}
<script src="http://code.responsivevoice.org/responsivevoice.js"></script>
<div class="jumbotron">
    <h1>Clio Audio</h1>
    <p class="lead">Store audio files for Clio's historical sites</p>
    <p><a href="https://www.theclio.com/web/about" class="btn btn-primary btn-lg">Learn more about Clio &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tech Demo</h2>
        <p><b>This is an example of the simplicity of ResponsiveVoice.</b> </p>
        <textarea id="ReadText" class="text-primary"></textarea>
        <br />
        <button class="butt js--triggerAnimation" onclick="func()"
                type="button" value="Play">
            Play &#9658;</button>
        <script>
            function func() {
                var x = document.getElementById("ReadText").value;
             responsiveVoice.speak(x, 'UK English Male');
            }
        </script>
</div>
</div>