@{
    ViewBag.Title = "Home Page";
}
<script src="http://code.responsivevoice.org/responsivevoice.js"></script>
<div class="jumbotron">
    <h1>Clio Audio</h1>
    <p class="lead">Play audio files for Clio's historical sites</p>
    <p><a href="https://www.theclio.com/web/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p> Upload an audio file </p>
        <p><a class="btn btn-default" href="">Browse My Computer </a></p>
        <p> Play an audio file </p>
        <p><a class="btn btn-default" href="">Choose Audio File...</a></p>
        <p><b>*Play text-to-speak sample</b> </p>
        <p>This is a test paragraph for the text to speech player to play</p>
        <button class="butt js--triggerAnimation" onclick="responsiveVoice.speak('This is a test paragraph for the text to speech player to play!', 'UK English Male');"
                type="button" value="Play">
            Play &#9658;</button>
</div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>