@model marshall_clio_audio.Models.AudioFile
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--You are free to change this page around as you like, just keep the little block that i have 
    made.-->

<h2>Delete</h2>


<!--Here we are displaying the name of the file and then giving the option to delete
    or to go back to the table of files. The delete button calls upon the "doDelete" 
    function from the AudioFileController-->

    <p>File: @Model.Name</p>

@using (Html.BeginForm("SubmitEdit","AudioFile", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <label>
        <b>Edit File Information</b>
    </label>
    <br/>
    <label>New Name </label>
    <input type="text" name="Text" value=@Model.Name />
    <br/>
    <label>Verified </label>
    <input id="Remember" type="checkbox" value="true" name="truthValue" />
    <input type="hidden" value="false" name="truthValue" />
    <div>
        <input type="submit" class="btn-success" value="Update File"/>
    </div>
    @Html.ActionLink("Cancel", "Index");
}

