@model IEnumerable<marshall_clio_audio.Models.AudioFile>
@{
    ViewBag.Title = "AudioIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AudioFiles</h2>

<!--You are free to design this page as you see fit, keep the table element
    that i have made as it is. Here we are passing the file name in and then iterating 
    over them and pulling at the name for each. We then put the delete button out next to
    each element. The delete button directs the user to the delete page. The "&emsp;" is a tab.-->

<table class="table">
    <tr>
        <th>File Name</th>
    </tr>
    @foreach (var File in Model)
    {
        <tr>
            <td>
                @File.Name &emsp; &emsp; &emsp; &emsp;
            @Html.ActionLink("Delete", "Delete", new { id = File.Id })
        </td>
        </tr>
    }
</table>