
@{
    ViewBag.Title = "NotYourFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

<label class="label label-danger">Not Your Audio File!</label>
<br/>
<a href="/AudioFile/Index">Return to Audio Files</a>
